<div class="sectionTitle">
  <h1>Work Experience</h1>
</div>

<div class="sectionContent">
  <article ng-repeat="experience in workExperience">
    <h2>{{experience.company}}</h2><p class="subDetails"><i>{{experience.startDate}} - {{experience.endDate}}</i></p>
    <div class="subTitle">
      <div><b>Assigned Role:</b> Senior Software Engineer</div>
      <div><b>Project:</b> Walt Disney Parks and Resorts</div>
      <div><b>Client:</b> Walt Disney Co.</div>
    </div>
    <div class="subdetailsDescription">Project & Role Description:</div>
    <p>{{experience.roleSummary}}</p>
    <ul>
      <li ng-repeat="role in experience.roleDescription">{{role.description}}</li>
    </ul>
    <div class="clear"></div>
  </article>
</div>
<div class="clear"></div>